[submodule "zsh/.zshplug/zsh-autosuggestions"]
	path = zsh/.zshplug/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zshplug/z"]
	path = zsh/.zshplug/z
	url = https://github.com/rupa/z
[submodule "zsh/.zshplug/zsh-history-substring-search"]
	path = zsh/.zshplug/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search/
[submodule "zsh/.zshplug/zsh-syntax-highlighting"]
	path = zsh/.zshplug/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tmux/.tmux/plugins/nord-tmux"]
	path = tmux/.tmux/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/50ways2sayhard/.emacs.d
[submodule "zsh/.zshplug/z.lua"]
	path = zsh/.zshplug/z.lua
	url = https://github.com/skywind3000/z.lua
[submodule "tmux/.tmux/plugins/onedark"]
	path = tmux/.tmux/plugins/onedark
	url = https://github.com/odedlaz/tmux-onedark-theme
[submodule "tmux/.tmux/plugins/tmux-fzf"]
	path = tmux/.tmux/plugins/tmux-fzf
	url = https://github.com/sainnhe/tmux-fzf
