"*":
  Hydrogen: {}
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
    cpp:
      default_beautifier: "clang-format"
    general:
      _analyticsUserId: "b17bdd91-1089-402b-a260-a585ebd7bf4c"
  "atom-runner": {}
  "autocomplete-clang":
    includeSystemHeadersDocumentation: true
  "autocomplete-ruby":
    port: 12051
    rsensePath: "/usr/local/bin/rsense"
  "clang-format":
    formatCOnSave: true
    formatCPlusPlusOnSave: true
    formatJavascriptOnSave: true
    formatObjectiveCOnSave: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "autocomplete-snippets"
      "autocomplete-paths"
      "clang-format"
      "linter"
      "autocomplete-ruby"
      "linter-ruby"
      "rails-snippets"
      "recent-files-fuzzy-finder"
      "linter-flake8"
      "emmet"
      "linter-clang"
      "zentabs"
      "css-snippets"
      "autocomplete-clang"
      "tree-view"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "dash"
      "smalls"
      "emmet"
    ]
    projectHome: "/Users/GJT/Desktop"
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
    titleBar: "custom-inset"
  "easy-motion-redux": {}
  editor:
    fontFamily: "Lucida Console"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "3f89b1e2-753d-1585-8851-4ce8fe0e3075"
  "file-explorer":
    excludeActiveFile: false
  fonts:
    fontFamily: "Luxi Mono"
  "fuzzy-finder":
    searchAllPanes: true
  "js-hyperclick": {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
  nuclide:
    "atom-ide-code-format":
      formatOnSave: true
    "nuclide-debugger-native":
      pythonBinaryPath: "/usr/local/bin/python3"
    "nuclide-distraction-free-mode":
      hideFindAndReplace: false
    "nuclide-home":
      showHome: false
    "nuclide-python":
      pathToPython: "/usr/local/bin/python3"
  "platformio-ide-terminal":
    core: {}
    style:
      theme: "one-dark"
    toggles: {}
  "recent-files-fuzzy-finder":
    restoreSession: true
  "script-runner":
    theme: "dark"
  smalls:
    flashType: "match"
  "terminal-plus":
    core: {}
    style:
      theme: "dracula"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    softWrap: true
".dict.text":
  editor:
    showInvisibles: false
".python.source":
  editor:
    autoIndentOnPaste: true
runner:
  scopes:
    python: "/usr/local/bin/python3"
